/* body{
  background-color: black;
  color: yellow;
} */

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
  }

  .circular-image{
    border-radius: 50%;
    border: 0.1em yellow solid;
  }

  .text-color{
    color: yellow;
  }


  .animate {
    animation:animate 1s cubic-bezier(0.2, 0.6, 0.2, 1);
    animation-fill-mode:backwards;
  }
  .two{
      animation-delay: 0.6s;
  }
  .one{
      animation-delay: 0.3s;
  }


  .animated-fadeIn {
    animation-name: fadeIn;
    animation-duration: 5s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  p{
    font-size: 20px;
  }
  
  .fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  /* Define the animation and set initial properties */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Apply the animation to the paragraph with specified duration and timing function */
.letter-animation {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(60, end);
}

.neuromorph{
  border-radius: 150px;
background: linear-gradient(145deg, #ab0e0e, #900c0c);
box-shadow:  21px 21px 100px #400505,
             -21px -21px 100px #ff1515;
}

.neuromorph2{
  border-radius: 60px;
  background: linear-gradient(145deg, #f4a723, #cd8c1e);
  box-shadow:  16px 16px 70px #5b3e0d,
               -16px -16px 70px #fffa35;
}

.neuromorph3{
  border-radius: 72px;
  background: linear-gradient(145deg, #a723f4, #841ecd);
  box-shadow:  35px 35px 70px #07b458,
             -35px -35px 70px #ad1902;
}

.neuromorph4{
  border-radius: 72px 72px 0 0;
  background: linear-gradient(145deg, #a723f4, #841ecd);
}

/* Custom CSS for animation */
.animated-text {
  position: relative;
  overflow: hidden;
}

.animated-text p.skills{
  animation: slide-up 1s ease forwards;
}

@keyframes slide-up {
  from {
      transform: translateY(100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.inline-link {
  display: inline;
}

body{
  background-color: #b0b0b0;
}

.hobbies_content{
  font-family: Arial, sans-serif; /* Set the font family */
  /*background-color: #f0f0f0; /* Set background color */
  padding: 20px; /* Add padding for spacing */
  border-radius: 10px; /* Add rounded corners */

  /* Text styles */
  color: #333; /* Text color */
  font-size: 18px; /* Text size */
  line-height: 1.5; /* Line spacing */
  text-align: justify; /* Justify text */

  /* Animation */
  animation: fadeIn 1.5s ease; /* Apply fade-in animation */

  /* Size adjustments */
  max-width: 100%; /* Limit the maximum width */
  margin: 0 auto; /* Center the div horizontally */

  /* Box shadow for a subtle effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Define the fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}